<!DOCTYPE html>
<html>
<head>
    <title>Grid App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Create Grid</h1>
        <div class="form-group">
            <label for="rows">Number of Rows (m):</label>
            <input type="number" class="form-control" id="rows" placeholder="Enter the number of rows" oninput="validateRowAndColInput(this)">
        </div>
        <div class="form-group">
            <label for="columns">Number of Columns (n):</label>
            <input type="number" class="form-control" id="columns" placeholder="Enter the number of columns" oninput="validateRowAndColInput(this)">
        </div>
        <button type="button" class="btn btn-primary" onclick="generateGrid()">Generate Grid</button>
        <hr>
        <div id="grid"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function validateInput(input) {
            input.value = input.value.replace(/[^0-9.]/g, ''); // Allow only digits and decimal point
        }
        function validateRowAndColInput(input) {
            const value = parseInt(input.value);
            if (Number.isInteger(value) && value >= 1 && value <= 10) {
              input.value = value;
              return;
            } 
            input.value = ''
        }
        function generateGrid() {
            var rows = parseInt(document.getElementById('rows').value);
            var columns = parseInt(document.getElementById('columns').value);
    
            var gridContainer = document.getElementById('grid');
            gridContainer.innerHTML = '';
    
            for (var i = 0; i < rows; i++) {
                var row = document.createElement('div');
                row.classList.add('row');
    
                for (var j = 0; j < columns; j++) {
                    var column = document.createElement('div');
                    column.classList.add('col', 'mb-3');
    
                    var input = document.createElement('input');
                    input.type = 'text';
                    input.classList.add('form-control');
                    input.setAttribute('pattern', '[0-9]*');
                    input.setAttribute('inputmode', 'decimal');
                    input.oninput = function () { validateInput(this); };
    
                    column.appendChild(input);
                    row.appendChild(column);
                }
    
                gridContainer.appendChild(row);
            }
        }
    </script>
</body>
</html>
