{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Matrix</h1>
            <div class="row">
                <div class="col">
                    <table class="table">
                        {% for row in original_matrix %}
                            <tr>
                                {% for value in row %}
                                    <td class="border">{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% for space in spaces %}
                <h1>{{ space }}</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}
